
.zusam{
    font-size: 20px;
    color: #024588;
    position: relative;
    left: 20px;
}
.close-cross {
    position: absolute;
    top: 15px; /* Adjust the top position as needed */
    right: 30px; /* Adjust the right position as needed */
    font-size: 30px; /* Adjust the font size as needed */
}
#table1{
    width: 660px;
    font-size: 16px;
    position: static;
    top: 60px;
    right: 20px;
    left: 20px;
    border: 2px solid #024588;
    border-collapse: collapse;


}
#table2{
    position: absolute;
    width: 720px;
    font-size: 16px;
    top: 60px;
    right: 40px;
    border: 2px solid #024588;


}
td,tr {
    border: 1px solid #024588; /* Set the border color to your desired color */
    padding: 8px; /* Optional: Add padding for better spacing */
}
.form-select {
    color: #64da9f; /* Set the text color to green */
    width: 660px;
    font-size: 18px;
    top: 390px;
    position: static;
    right: 20px;
    left: 20px;
    border: 2px solid #024588;
}
.form-label{
    font-size: 18px;
    color: #024588;
    top: 354px;
    position: static;
    right: 20px;
    left: 20px;
}
#notes{
    border: 2px solid #024588;

}
.notizen{
    position: static;
    width: 671px;
    top: 500px;
    left: 20px;
    right: 20px;
}
.btn{
    background-color: #1e4d98;
}
.scrollable-notes {
    max-height: 200px; /* Set the maximum height for the scrollable area */
    overflow: auto; /* Make the content scrollable when it overflows */
}
.container {
    max-width: 100%; /* Ensure the container takes full width */
}
